# For Buildbear remote development
BUILDBEAR_RPC_URL=""
BUILDBEAR_MNEMONIC=""

# For Sourcify verification
VERIFICATION_ENDPOINT=""

# For CLI operations
RPC_URL="" # same as <NETWORK>_RPC_URL above
PRIVATE_KEY="" # for write ops

# absolute paths to the contracts and multipass repos
RANKIFY_CONTRACTS_PATH=""
MULTIPASS_PATH=""